@charset "utf-8";
/* CSS Document */

:root {
		--point-color-01: 216, 12, 34; /* #d80c22; */
		--point-color-02: 183, 11, 29; /* #b70b1d; --point-color-01-hover */
		--point-color-03: 66, 193, 204; /* #42c1cc; */
		--point-color-04: 57, 65, 75; /* #39424b; */
}

@keyframes buzz { 
		10%, 30% {left: 3px;-webkit-transform: rotate(2deg);-ms-transform: rotate(2deg);transform: rotate(2deg);}
		20%, 40% {left: -3px;-webkit-transform: rotate(-2deg);-ms-transform: rotate(-2deg);transform: rotate(-2deg);}
		50%, 70% {left: 2px;-webkit-transform: rotate(1deg);-ms-transform: rotate(1deg);transform: rotate(1deg);}
		60%, 80% {left: -2px;-webkit-transform: rotate(-1deg);-ms-transform: rotate(-1deg);transform: rotate(-1deg);}
		90% {left: 1px;-webkit-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0);}
		100% {left: -1px;-webkit-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0);}
}



/*****************************************************
	1400px wide
*****************************************************/

@media (min-width: 1200px) {
	.container {
			max-width: 1140px;
	}
}
@media (min-width: 1300px) {
	.container {
			max-width: 1270px;
	}
}
@media (min-width: 1400px) {
	.container {
			max-width: 1370px;
	}
}

/*****************************************************
	Common
*****************************************************/
html {
		overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
		margin: 0px;
}
p {
		word-break: keep-all;
}
.layout {
		display: flex;
		align-items: center;
}
.layout.between {
		justify-content: space-between;
}
.layout.half .ly-item {
		flex: 0 0 50%;
		max-width: 50%;
}
.top-sub .container .row .col-12 {
		padding-left: 0px;
		padding-right: 0px;
}
.top-sub .container .row .col-12 { padding-left: 0px; padding-right: 0px; }
@media (min-width: 576px) {
  .top-sub .container .row .col-12 { padding-left: 15px; padding-right: 15px; }
}


.carousel-box .prev-btn span, .carousel-box .next-btn span { display: inline-block; text-indent: -5000em; }
.owl-dots-wrapper { display: flex; align-items: center; justify-content: center; margin-top: 25px; }
.owl-carousel .owl-dots-wrapper .owl-dots { display: flex; align-items: center; }
.owl-carousel .owl-dots .owl-dot { display: inline-block; width: 12px; height: 12px; margin-right: 8px; border: none; border-radius: 50%; background-color: rgb(156, 164, 175); }
.owl-carousel .owl-dots .owl-dot.active { background-color: rgb(53, 66, 84); }
.owl-carousel .play-pause-btn {color: #fff;}
.multi-row-ellipsis { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.mark { padding: 0px; background-color: transparent; }
.top-sub { background-color: rgb(var(--point-color-01)); }
.top-sub a,
.top-sub span { position: relative; display: block; height: 32px; line-height: 32px; font-size: 14px; font-weight: 200; white-space: nowrap; color: #fff; }
.top-sub-layout { justify-content: flex-end; }
.top-sub-layout .ly-item:first-child a,
.top-sub-layout .ly-item:first-child span { padding: 0px 10px; text-align: center; transition: all 0.3s ease 0s; }
.top-sub-layout .ly-item:first-child a:hover, .top-sub-layout .ly-item:first-child a:focus { text-decoration: underline; }
.top-sub-layout ul { display: flex; margin: 0px; }
.top-sub-layout ul > li { position: relative; margin-right: 20px; }
.top-sub-layout ul > li:last-child { margin-right: 0px; }
.top-sub-layout .ly-item:first-child ul > li { margin-right: 0px; }
.top-sub-layout .ly-item:last-child ul > li { position: relative; }
.top-sub-layout .ly-item:last-child a:hover, .top-sub-layout .ly-item:last-child a:focus { text-decoration: underline; }
.top-sub-link-main, .top-sub-link-login { background-repeat: no-repeat; background-position: left center; }
.top-sub-link-popup { padding-left: 10px; padding-right: 25px; background-color: rgb(var(--point-color-04)); font-size: 13px; transition: all 0.3s ease 0s; }
.top-sub-link-popup:hover, .top-sub-link-popup:focus { background-color: rgb(9, 23, 42); }
.top-sub-link-popup::after { content: ""; position: absolute; top: 50%; right: 5px; transform: translateY(-47%); font-family: material-icons; font-size: 18px; }
.top-sub-link-popup.on::after { content: ""; }
a.top-sub-link-popup { color: white; }
@media (min-width: 480px) {
  .top-sub-layout .ly-item li span::after,
	.top-sub-layout .ly-item li a::after { content: ""; position: absolute; top: 14px; left: 0px; width: 1px; height: 12px; background: rgba(255, 255, 255, 0.6); }
  .top-sub-layout .ly-item li:first-child span::after,
	.top-sub-layout .ly-item li:first-child a::after {display:none}
  .top-sub-layout .ly-item li a.top-sub-link-popup::after { display: none; }
}
@media (min-width: 576px) {
  .top-sub-layout .ly-item:last-child ul > li:not(:last-child) { display: block; }
}
.top-main-layout > .ly-item { display: flex; height: 40px; margin-top: 0.5rem; align-items: center; }
.top-main-layout .site-logo { display: block; margin-right: 10px; width: 128px; height: auto; }
.top-main-layout .site-title { display: flex; align-items: center; margin: 0px; }
.top-main-layout .site-title .site-link { display: flex; align-items: center; margin: 0px; }
.top-main-layout .site-title .site-logo {width: 160px; height: auto;}
.top-main-layout .sub-site-title {font-size: 16px;font-weight: 600;color: #000;}
@media (min-width: 992px) {
  .top-main-layout .sub-site-title {font-size: 23px;}
	.top-main-layout .site-title .site-logo { width: 240px; }
}
#header .top-main .header-bg, #header .top-main .header-bg.on { display: none; }
#header .nav-bg-fostrap { position: relative; top: auto; right: auto; bottom: auto; left: auto; display: inline-block; width: 45px; height: 45px; padding: 0px; border: none; background-color: rgb(var(--point-color-01)); vertical-align: baseline; cursor: pointer; transition: all 0.3s ease 0s; }
#header .nav-bg-fostrap:hover, #header .nav-bg-fostrap:focus { background-color: rgb(var(--point-color-02)); }
#header .nav-bg-fostrap .navbar-fostrap { position: absolute; top: 50%; left: 50%; right: auto; bottom: auto; transform: translate(-50%, -50%); display: block; width: auto; height: auto; padding: 0px; transition: all 0.3s ease 0s; }
#header .nav-bg-fostrap .navbar-fostrap span { display: block; width: 30px; height: 3px; margin-bottom: 8px; background-color: rgb(255, 255, 255); }
#header .nav-bg-fostrap .navbar-fostrap span:last-child { margin-bottom: 0px; }
@media (min-width: 1200px) {
  #header .top-main-layout > .ly-item { height: 50px; margin-top: 1rem; }
}
@media (min-width: 1200px) {
  #header .top-main { position: relative; }
  #header .top-main .header-bg {position: absolute;top: 80px;left: 50%;right: 50%;z-index: 10;display: none;width: 100vw;border-top: 1px solid rgb(204, 204, 204);margin-left: -50vw;margin-right: -50vw;background-color: #fff;box-shadow: rgba(59, 56, 56, 0.35) 0px 5px 7px -2px;overflow: hidden;}
  #header .top-main .header-bg.on { display: block; }
  #header .top-main .header-bg > .container, #header .top-main .header-bg > .container > .row, #header .top-main .header-bg > .container > .row > [class|="col"] { height: 100%; }
  #header .top-main .header-bg > .container > .row > [class|="col"] { flex: 0 0 325px; max-width: 325px; }
  #header .top-main .header-bg > .container > .row > [class|="col"]:before {content:'';position: absolute;top: 0;right: 0;display: block;width: calc((100vw - 1140px) / 2 + 370px);height: 100%;background: #f5f5f5 url(/template/t002001/images/top-menu-bg.png) no-repeat right bottom;/* background-size: cover; */z-index: -1;}
  #header .top-main .header-bg .header-bg-deco { position: absolute; bottom: -80px; right: -15px; display: block; width: 231px; height: 243px; background-repeat: no-repeat; background-position: center center; background-size: 200px; }
  #header .top-main .header-bg .header-bg-title {position:relative;padding-top: 15px;margin: 50px 0 20px;font-size: 26px;font-weight: 500;color: #000;}
  #header .top-main .header-bg .header-bg-title:after {content:'';position:absolute;display:inline-block;width:22px;height:3px;background-color:#333;top:0;left:0;}
  #header .top-main .header-bg .header-bg-tagline {font-size: 15px;color: #525252;}
  #header .top-main-layout > .ly-item:nth-child(3) { display: none; }
  #header .nav-bg-fostrap { display: none; }
}
@media (min-width: 1300px) {
  #header .top-main .header-bg > .container > .row > [class|="col"] {flex: 0 0 315px;max-width: 415px;}
  #header .top-main .header-bg > .container > .row > [class|="col"]::after { background-size: 220px; }
}

#header .top-main .ly-item h2 {
	font-size: 1.125rem;
	font-weight: 700;
}
@media (min-width: 1200px) {
	#header .top-main .ly-item h2 {
		font-size: 1.25rem;
	}
}

/* footer */
#footer {padding: 1.5rem 0 2rem;border-top: 1px solid #ddd;}
#footer > .container > .row { flex-direction: column-reverse; }
#footer .footer-layout-left { align-items: flex-start; justify-content: center; text-align: center; }
#footer .footer-menu {display: block;margin-bottom: 24px;}
#footer .footer-menu ul { display: flex; flex-wrap: wrap; margin: 0px; }
#footer .footer-menu ul > li { position: relative; list-style: none; }
#footer .footer-menu ul > li > a {display: inline-block;padding-right: 12px;}
#footer .footer-menu ul > li:first-child > a { color: rgb(var(--point-color-01)); padding-left: 0px; }
#footer .footer-menu ul > li:last-child > a { padding-right: 0px; }
#footer .footer-menu ul > li > a:hover, #footer .footer-menu ul > li > a:focus {text-decoration: underline;color: #000;}
#footer .footer-menu ul > li:first-child > a:hover, #footer .footer-menu ul > li:first-child > a:focus {color: rgb(var(--point-color-01));}
#footer address { margin-bottom: 8px; }
#footer address > span {display:inline-block;margin-right: 1.3rem;margin-bottom: 2px;color: #777;}
#footer .tel-fax, #footer .tel-fax a { font-size: 14px; color: rgb(132, 132, 132); }
#footer .copyright { display: block; font-size: 14px; color: rgb(157, 157, 157); text-transform: uppercase; }
#footer .footer-layout-right { flex-wrap: wrap; justify-content: flex-end; }
#footer .footer-layout-right > .ly-item { margin-bottom: 10px; }
@media (min-width: 380px) {
  #footer .footer-menu ul > li > a { padding-right: 20px; }
  #footer .footer-menu ul > li:not(:last-child)::after { right: 9.5px; }
}
@media (min-width: 768px) {
  #footer .address, #footer .tel-fax { display: inline-block; }
}
@media (min-width: 992px) {
  #footer > .container > .row { flex-direction: row; }
  #footer .footer-layout-left { justify-content: flex-start; text-align: left; }
  #footer .footer-menu ul { justify-content: flex-start; }
  #footer address {margin-bottom: 5px;}
}
a[href^="tel"] { text-decoration: inherit; color: inherit; }
#footer .footer-layout-right { justify-content: center; margin-bottom: 10px; }
@media (min-width: 992px) {
  #footer .col-lg-3 { padding-top: 0px; }
  #footer .footer-layout-right { justify-content: flex-end; }
}


.submit{ 
    border-radius:0.25rem;
    background-color: rgb(var(--point-color-01));border-color: #b70b1e;
}
/* btn */
.btn {border-radius:0.25rem;}
.btn-primary {
    background-color: rgb(var(--point-color-01));
    border-color: #b70b1e;
}
.btn-primary:hover, 
.btn-primary:focus {background-color: rgb(var(--point-color-02));border-color: #a30c1c;}
.btn-secondary {background-color: #59636d;border-color: #555d65;}
.btn-secondary:hover, .btn-secondary:focus {background-color: #464a4f;border-color: #414447;}
.btn-outline-primary {color: rgb(var(--point-color-01));border-color: rgb(var(--point-color-01));}
.btn-outline-primary:hover, .btn-outline-primary:focus {background-color: rgb(var(--point-color-01));border-color: #b70b1e;}
.btn-outline-secondary {color: #59636d;border-color: #555d65;}
.btn-outline-secondary:hover, .btn-outline-secondary:focus {background-color: #59636d;border-color: #555d65;}

.btn-point {background-color: #7b695a;border-color: #776454;}
.btn-point:hover, .btn-point:focus {background-color: #7b695a;border-color: #776454;}

.btn-sm .material-icons {font-size:1rem;}

.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, .show > 
.btn-primary.dropdown-toggle {
	background-color: rgb(var(--point-color-01));border-color: #b70b1e;
}

/* text */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #cf3141;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	color: #b70b1e;
	text-decoration: none;
}

.text-point {
	color: #7b695a !important;
}

.text-point2 {
  color: #111 !important;
  font-weight: bold !important;
}

/*****************************************************
	Sub
*****************************************************/
.sub-container { margin-bottom: 2rem; margin-top: .5rem; }
/* .sub-container #content {padding: 0px;margin-bottom: 5rem;} */
.sub-top { display: none; height: 16rem; background-size: cover; background-position: center center; }
.cont-title { margin-bottom: 1.5rem; }
.cont-title h2 { margin-right: 0px; font-size: 32px; font-weight: 700; }

@media (min-width: 992px) {
  .sub-container { margin-bottom: 4rem; margin-top: 1.25rem; }
  .cont-title h2 {margin-bottom: 2rem;}
  .cont-title::after { bottom: -80px; width: 2px; height: 45px; }
  .sub-top { display: flex; align-items: center; background-color: rgb(204, 204, 204); background-position: center top; background-repeat: no-repeat; position: relative; height: 220px; }
  .sub-top .sub-top-txt { text-align: center; position: relative; }
  .sub-top .sub-top-txt h2 { position: relative; margin: 0px 0px 1rem; color: rgb(255, 255, 255); width: 100%; font-size: 40px; font-weight: 400; padding-bottom: 1rem; }
  .sub-top .sub-top-txt h2::after { content: ""; position: absolute; bottom: 0px; left: 50%; width: 32px; height: 2px; margin-left: -16px; background: rgb(255, 255, 255); }
  .sub-top .sub-top-txt p { font-size: 16px; font-weight: 200; color: rgb(255, 255, 255); margin: 0px; }
}


/* title */
.title-box .row {
	align-items: center;
}
@media(min-width: 992px) {
	.title-box {
		margin-top: 1.5rem;
	}
}
.tit-h3 {position: relative; font-size: 1.25rem; color: #333;}
/* .tit-h3:after {content: '';position: absolute;top:0;left: 0;display: inline-block;width: 1.9rem;height: 2px;background-color: rgb(var(--point-color-01));} */
.tit-h3 > span {font-size: 18px;color: #777;font-weight: normal;}
.tit-h4 {color: rgb(var(--point-color-01));margin-top: 1rem; margin-bottom: 0.5rem;}
.tit-h4 > span {font-size: 1rem;font-weight: 400;color: #333;}
.tit-h5 {color: #874b19;font-weight: 600;margin-top: 1.5rem;margin-bottom: 0.5rem;}
.tit-h6 {background: url("/site/resource/knu/common/images/bullet01.png") no-repeat left 4px;padding-left: 1.1rem;color: #333;font-size: 17px;margin-top: 1.5rem;margin-bottom: 5px;}

/* ibootstrap */
.table th, .table td {
	padding: 0.25rem 0.75rem;
	font-size: 15px;
}
.table thead th {
	word-break: keep-all;
	white-space: nowrap;
}

/* table-responsive */

.b-table-box .form-control, .b-table-box .input-group-append,
.b-table-box .recaptcha {
	margin-top: 3px;
	margin-bottom: 3px;
}
.b-table-box .recaptcha {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	height: calc(2.25rem + 2px);
	border: 1px solid #ced4da;
	background-clip: padding-box;
	border-radius: 0.25rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0;
}
@media(max-width: 375px) {
	.b-table-box .recaptcha img {
		width: auto;
		height: calc(2.25rem + 2px);
	}
}
.b-table-box .recaptcha img {
	width: auto;
	height: 100%;
}

.btn-refresh {
	min-width: 56px;
	background-image: url(/views/sugang/images/arrow-repeat-white.svg);
	background-repeat: no-repeat;
	background-position:  center;
	background-size: 24px;
}

.go-to-top {
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index: 49;
  display: none;
  width: 70px;
  height: 70px;
  padding-top: 45px;
  border-radius: 50%;
  background: #d80c22 url(/views/sugang/images/go-to-top.png) no-repeat top 20px center;
  font-size: 11px;
  font-weight: 200;
  color: white !important;
  text-align: center;
  /* opacity: 0.85; */
  transition: background-color 0.3s;
}


.icon-arrow-right {
	background: url(/views/sugang/images/arrow_right_black_24dp.svg) no-repeat 0 0;
	background-size: 24px;
	padding-left: 24px;
}

.guide-box.alert {
	padding: 1rem 2rem;
}
.guide-box.alert > .row:not(:last-child) {
	border-bottom: solid #afced3 1px;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}
.guide-box.alert .btn {
	white-space: normal;
}

/* LOGIN */
/* 수강신청 로그인 - 메인 - login box */

.course-login .login-box {
	background-color: white;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
}
@media(min-width: 992px) {
	.course-login .login-box {
		width: 400px;
	}
}
.course-login .login-box-header {
    color: white;
    background: #7B695A url(/views/sugang/images/emblem.png) no-repeat right 20px top 20px;
		background-size: 100px auto;
    padding: 32px 40px 16px;
}
.course-login .login-box-title {
    position: relative;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: -0.05em;
		padding-top: 10px;
}
.course-login .login-box-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 26px;
    height: 3px;
    background-color: white;
}
.course-login .login-box-body {
    padding: 20px;
}

.course-login .login-body-title-wrapper {
    margin-bottom: 30px;
}
.course-login .login-body-title {
    color: #DA2227;
    font-size: 24px;
    font-weight: bold;
}
@media(min-width: 992px) {
	.course-login .login-box-header {
    padding: 55px 40px 30px;
	}
	.course-login .login-box-title {
		font-size: 28px;
	}
	.course-login .login-box-body {
			padding: 40px;
	}
	.course-login .login-body-title {
    font-size: 32px;
	}
}

.course-login .login-box .link-box {
	display: block;
	margin-top: 20px;
	font-size: 14px;
}
.course-login .login-box .link-box .link-list {
	margin: 0;
}
/*
.course-login .login-box .link-box .link-list > li:not(:last-child) {
	margin-bottom: 0.5rem;
}
*/
@media(min-width: 768px) {
	.course-login .login-box .link-box .link-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	}
	/* .course-login .login-box .link-box .link-list > li::after {
		content: "";
		position: absolute;
		top: 50%;
		right: -1px;
		transform: translateY(-50%);
		display: block;
		width: 1px;
		height: 12px;
		background-color: #BCBDC1;
	}
	.course-login .login-box .link-box .link-list > li:last-child::after {
		display: none;
	} */
}


/* 수강신청 로그인 - 메인 - inform box */

.course-login .inform-box {
    /* width: 940px; */
		height: 100%;
    padding: 40px;
    background-color: white;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
}
.course-login .inform-box-header {
	margin-bottom: 25px;
}
.course-login .inform-box-title {
	padding-bottom: 10px;
	border-bottom: 2px solid #3C3C36;
	color: #3C3C36;
	font-size: 32px;
	font-weight: bold;
}
.course-login .inform-box a {
    color: #B25109;
}
.course-login .inform-box a:hover {
    color: #c30d19;
}

/* 수강신청 로그인 - 메인 - inform box - text box */

.course-login .inform-box {
	font-size: 16px;
	letter-spacing: -0.05em;	
}
.course-login .inform-box .text-box {
	margin-bottom: 20px;	
}
.course-login .inform-box .text-box-header {
	position: relative;
	padding-left: 24px;
	margin-bottom: 10px;
	font-size: 18px;
	word-break: keep-all;
}
.course-login .inform-box .text-box-header::before {
	content: url(/images/chevron-right-circle.svg);
	position: absolute;
	top: 6px;
	left: 0;
	display: inline-block;
}
.course-login .inform-box .text-box .title {
	display: block;	
	color: #111;
	font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.025em;
}

.course-login .w2tb {
	margin-bottom: 10px;
}
.course-login .w2tb .w2tb_th,
.course-login .w2tb .w2tb_td {
	padding: 10px;
}
.course-login .w2tb .w2tb_th {
	text-align: center;
}
.course-login .w2tb tbody th {	
	font-weight: normal;
}
.course-login .w2tb .w2tb_td {
	text-align: center;
}

/********** 수강신청 로그인 - 푸터 **********/

.course-login #footer {
    padding: 30px 0;
    background-color: white;
}

.course-login #footer .address {
    font-size: 16px;
    margin-right: 10px;
}
.course-login #footer .link-list,
.course-login #footer .tel-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
}
.course-login #footer .link-list {
    margin-bottom: 10px;    
}
.course-login #footer .link-list a.focus {
    color: #DA2227;
    font-size: 16px;
    font-weight: bold;  
}
.course-login #footer .tel-list {
    display: inline-flex;
    width: auto;    
}
.course-login #footer .tel-list > li::after {
    content: " / ";
    display: inline-block;
    padding: 0 5px;
}
.course-login #footer .tel-list > li:last-child::after {
    display: none;
}
.course-login #footer .tel-list .label {
    display: inline-block;
    margin-right: 3px;
}
.course-login #footer .copyright {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
.course-login #footer .text-desc {
    color: #B97C08; 
    font-size: 14px;
}

/********** 수강신청 로그인 - 폼 **********/

.course-login .form-group {
    position: static;
    width: auto;
    display: block;
    margin-bottom: 20px;
}

.course-login .login-box label {
    margin-bottom: 8px;
    color: #7F7368;
    font-size: 16px;
    font-weight: bold;
}
/* 
.course-login .login-box input[type='radio'] + label {
	font-weight: 400;
}
 */
.course-login .form-control {
    display: block;
    width: 100%;
    height: 48px;
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #DA2227;
    background-clip: padding-box;
    border: 1px solid #BCBDC1;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.course-login .input-group > .custom-file,
.course-login .input-group > .custom-select,
.course-login .input-group > .form-control,
.course-login .input-group > .form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}
.course-login .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after,
.course-login .input-group:not(.has-validation) > .custom-select:not(:last-child),
.course-login .input-group:not(.has-validation) > .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}

.course-login .input-group > .form-control {
    margin-right: 10px;
}
.course-login .input-group .btn {
    padding: 0 45px;
    color: white;
    background-color: #7F7368;
    font-size: 16px;
    font-weight: bold;
}
.course-login .input-group .btn.focus,
.course-login .input-group .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(127, 115, 104, 0.25);
}
.course-login .form-group .form-text {
    margin-top: 8px;
    color: #DA2227;
    font-size: 14pxx;   
}
.course-login .btn-box .btn {
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: bold;  
}
